<!DOCTYPE html>
{%  load staticfiles %}
<html>
<head>
    <title>Nao Pal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}" />
    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}

        ul li a {display:block;}

        .deleteButton {

        }

        body.dragging, body.dragging * {
          cursor: move !important;
        }

        .dragged {
          position: absolute;
          opacity: 0.5;
          z-index: 2000;
        }

        ul.motion li.placeholder {
          position: relative;
          /** More li styles **/
        }
        ul.motion li.placeholder:before {
          position: absolute;
          /** Define arrowhead **/
        }



    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card-2">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="#motion_list" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MOTION LISTS</a>
        <a href="#editMotionList" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RUN</a>
        <a href="#info" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INFORMATION</a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Merchandise</a>
                <a href="#" class="w3-bar-item w3-button">Extras</a>
                <a href="#" class="w3-bar-item w3-button">Media</a>
            </div>
        </div>
        <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#motion_list" class="w3-bar-item w3-button w3-padding-large">BAND</a>
    <a href="#editMotionList" class="w3-bar-item w3-button w3-padding-large">TOUR</a>
    <a href="#info" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
        <img src="{% static 'images/nao2.jpg' %}" style="width:100%">
        <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <button class="w3-btn w3-xxxlarge"><a href="#motion_list" style="text-decoration:none">GET START</a></button>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="{% static 'images/nao1.jpg' %}" style="width:100%">
        <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <button class="w3-btn w3-xxxlarge"><a href="#motion_list" style="text-decoration:none">GET START</a></button>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="{% static 'images/nao3.jpg' %}" style="width:100%">
        <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <button class="w3-btn w3-xxxlarge"><a href="#motion_list" style="text-decoration:none">GET START</a></button>
        </div>
    </div>

    <!-- The Create Motion List Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="motion_list">
        <h2 class="w3-wide w3-center">MOTION LISTS</h2>
        <p class="w3-opacity w3-center"><i>Your motion lists show here</i></p>
        <p class="w3-justify w3-center">Motion list stores your own list of motions which the robot can perform. Choose the existing motion list to
            let the robot perform or create a new motion list. You can choose the pre-set motions yourself or customize your own motion. Enjoy yourself! </p>
        <div class="w3-row w3-padding-32">
            <div class="w3-row-padding-64 w3-section">
                <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('motionListModal').style.display='block'">Create New</button>
            </div>
            <div class="w3-row-padding-64">
                {% if ml %}
                    <form class="w3-container" method="post" action="#editMotionList">{% csrf_token %}
                    <h3>OR</h3>
                    <label for="options">Select from existing lists:</label>
                        <select class="w3-select" id="options" name="options">
                            {% for list in ml %}
                            <option value="{{ list.list_name }}"> {{ list.list_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-row w3-section">
                            <input type="submit" class="w3-button w3-block w3-black" name="motionListSubmit" value="CONFIRM" id="motionListSubmit">
                        </div>
                    </form>
                {% else %}
                    <p>No lists are available.</p>
                {% endif %}
            </div>
        </div>


    </div>

    <!-- Motion List Modal -->
    <div id="motionListModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
                <span onclick="document.getElementById('motionListModal').style.display='none'"
                    class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>New List</h2>
            </header>
            <div class="w3-container">
                <form method="post" action="#motion_list"> {% csrf_token %}
                    <p><label><i class="fa fa-user"></i> Name </label></p>
                    <input class="w3-input w3-border" name="motionListName" id="motionListName" type="text" placeholder="Motion List Name">
                    <input type="submit" value="CREATE" name="motionList" id="motionList" class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">
                    <button class="w3-button w3-red w3-section" onclick="document.getElementById('motionListModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                </form>
            </div>
        </div>
    </div>



    <!-- The Editing Motion List Section -->
    <div class="w3-black" id="editMotionList">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center" id="editMotionList_h2">CURRENT MOTION LIST: {{ cur }}</h2>
            <p id="test" class="w3-opacity w3-center"><i>It's play time! :)</i></p><br>
            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-col-padding">
                    <h3 class="w3-wide w3-center">Motions in list</h3>
                    <div id="ul_list" class="w3-row-padding-32">
                    {% if mo %}
                        <ul class="motion w3-ul w3-white w3-hoverable w3-card-4 w3-text-black w3-border">
                        {% for motion in mo %}
                            <li class="w3-padding" id="{{ motion.id }}" value="{{ motion.id }}">
                                <span class="w3-center">{{ motion.motion_type }}   id={{ motion.id }}</span>
                                <span class="w3-badge w3-left">{{ motion.order }}</span>
                                <span class="deleteButton w3-btn w3-red w3-small w3-padding-small w3-right">Delete</span>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No lists are available.</p>
                    {% endif %}
                    </div>
                    <div class="w-padding-32 w3-section">
                        <button class="w3-button w3-white w3-block w3-margin-bottom" onclick="document.getElementById('motionModal').style.display='block'">Add New Motion</button>
                        <form method="post" action="#motion_list">{% csrf_token %}
                            <input type="hidden" value="{{ cur }}" name="cur" id="cur">
                            <input type="submit" value="RUN" name="runSubmit" id="runSubmit" class="w3-button w3-block w3-teal w3-padding-16 w3-section">
                            <input type="submit" value="DELETE LIST" name="deleteList" id="delete_list" class="w3-button w3-block w3-red w3-section">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Motion Modal -->
    <div id="motionModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
                <span onclick="document.getElementById('motionModal').style.display='none'"
                    class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>New Motion</h2>
            </header>
            <div class="w3-container">
                <form method="post" class="w3-container" action="#editMotionList"> {% csrf_token %}
                    <input type="hidden" value="{{ cur }}" name="cur" id="cur">
                    <select class="w3-select" id="motionOptions" name="motionOptions" onchange="myEditMotionFunction()">
                        <option value="walk">Walk</option>
                        <option value="rest">Rest</option>
                        <option value="customize">Customize</option>
                        <option value="speak">Speak</option>
                        <option value="stand">Stand Up</option>
                        <option value="lay">Lay Down</option>
                    </select>
                    <div id="walk_div" class="w3-row-padding w3-section">
                        <input class="w3-input" type="text" name="vertical" placeholder="Move forward or back by y in range(-5, 5) meters">
                        <input class="w3-input" type="text" name="horizontal" placeholder="Move left or right by x in range(-5, 5) meters">
                        <input class="w3-input" type="text" name="angle" placeholder="Turn angle by angle in range(-180, 180) degrees">
                    </div>
                    <div id="customize_div" class="w3-row-padding w3-section">
                        <h3>Recording Mode</h3>
                        <p>In Torque and Free Mode, you will have around 10 seconds to record the motions.</p>
                        <p>In Button Mode, the recording will not stop util you press the rear button.</p>
                        <div class="w3-padding w3-section">
                        <input class="w3-radio" type="radio" name="record" value="torque" checked>
                        <label>Torque Mode</label>
                        <p>
                        <input class="w3-radio" type="radio" name="record" value="free">
                        <label>Free Mode</label>
                        <p>
                        <input class="w3-radio" type="radio" name="record" value="button">
                        <label>Button Mode</label>
                        </div>
                        <h3>Play Mode</h3>
                        <div class="w3-padding w3-section">
                        <input class="w3-check" type="radio" name="music" value="1">
                        <label>With Music</label>
                        <p>
                        <input class="w3-check" type="radio" name="music" value="0">
                        <label>Without Music</label>
                        </div>
                    </div>
                    <div id="speak_div" class="w3-row-padding w3-section">
                        <input class="w3-input" type="text" name="text" placeholder="The words to say...">
                    </div>

                    <input type="submit" value="CREATE" name="motionSubmit" id="motionSubmit" class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">
                </form>
            </div>
        </div>
    </div>


    <!-- The Information Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="info">
        <h2 class="w3-wide w3-center">INFORMATION</h2>
        <p class="w3-opacity w3-center"><i>Information shows here :)</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-light-grey w3-round w3-section">
                <div class="w3-container w3-round-xlarge w3-padding w3-black" style="width:{{ battery }}%">Battery: {{ battery }}%</div>
            </div>
            <button class="w3-btn w3-block w3-section"><a style="text-decoration:none" href="http://192.168.1.100"> Nao Setting Page </a></button>
        </div>
    </div>

    <!-- End Page Content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'jquery-sortable.js' %}"></script>
<script>
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();

    $(document).ready(function () {
        $(".deleteButton").click(function () {
            var pk = $(this).parent().attr("value");
            $(this).parent().hide();

            $.post("", {
                cur: "{{ cur }}",
                deleteId: pk,
                csrfmiddlewaretoken: CSRFtoken
            });
        });


        $(function  () {
            $("ul.motion").sortable({
                onDrop: function ($item, container, _super, event) {
                    $item.removeClass(container.group.options.draggedClass).removeAttr("style");
                    $("body").removeClass(container.group.options.bodyClass);
                    document.getElementById('test').innerHTML= $item.attr("value");

                    $.post("", {
                        cur: "{{ cur }}",
                        index: $item.index(),
                        moveId: $item.attr("value"),
                        csrfmiddlewaretoken: CSRFtoken
                    })
                }
            });
        });
    });



    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    //Display for create new motion popup
    document.getElementById('walk_div').style.display = 'block';
    document.getElementById('speak_div').style.display = 'none';
    document.getElementById('customize_div').style.display = 'none';
    function myEditMotionFunction() {
        var x = document.getElementById('motionOptions').value;
        if (x === 'walk'){
            document.getElementById('walk_div').style.display = 'block';
            document.getElementById('speak_div').style.display = 'none';
            document.getElementById('customize_div').style.display = 'none';
        }
        else if (x === 'customize'){
            document.getElementById('customize_div').style.display = 'block';
            document.getElementById('walk_div').style.display = 'none';
            document.getElementById('speak_div').style.display = 'none';
        }
        else if (x === 'speak'){
            document.getElementById('speak_div').style.display = 'block';
            document.getElementById('walk_div').style.display = 'none';
            document.getElementById('customize_div').style.display = 'none';
        }
        else {
            document.getElementById('walk_div').style.display = 'none';
            document.getElementById('speak_div').style.display = 'none';
            document.getElementById('customize_div').style.display = 'none';
        }


    }


    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };

    // When the user clicks anywhere outside of the modal, close it
    var modal1 = document.getElementById('motionListModal');
    window.onclick = function(event) {
        if (event.target === modal1) {
            modal.style.display = "none";
        }
    };

    var modal2 = document.getElementById('motionModal');
    window.onclick = function(event) {
        if (event.target === modal2) {
            modal.style.display = "none";
        }
    };


</script>

</body>
</html>
